.house-settings-panel {
  height: 185px;
}
.house-settings-panel table {
  width: 100%;
}
.house-settings-panel table td {
  padding-bottom: 10px;
}
.house-settings-panel table tr:nth-last-child(1) td {
  padding-bottom: 0px;
}
.house-settings-panel .tenants-table td {
  padding: 2px 0px 2px 0px;
}
.house-settings-panel .existing td:nth-child(odd) {
  padding: 0px 20px 0px 0px;
}
.house-settings-panel .form-control {
  float: right;
}
.house-settings-panel #tenants-heading {
  margin-top: 15px;
}
.house-settings-panel #notification-row {
  margin-bottom: 20px;
}
.house-settings-panel #email-notification-chkbox {
  margin-left: 20px;
}
.house-settings-panel #profile-pic-select {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
#leave-house-btn {
  margin: 0px 0px 20px 0px;
}
#leave-house-btn .btn-danger {
  float: right;
}
#tenants-panel {
  height: 322px;
}
#info-panel {
  height: 322px;
}
#info-panel tr:nth-child(1) td {
  padding-top: 10px;
}
#info-panel td {
  padding-bottom: 20px;
}
