#conversation-buttons {
  height: 400px;
  overflow: hidden;
  overflow-y: scroll;
}
#conversation-buttons .btn:nth-child(1) {
  margin-bottom: 15px;
}
#conversation-buttons .btn-default {
  width: 100%;
  margin-top: 10px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#conversation-buttons .convo-btn {
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
}
#conversation-panel {
  height: 400px;
}
#conversation-panel #empty-convo-msg {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}
#conversation-panel #empty-convo-msg span {
  vertical-align: middle;
  display: table-cell;
}
#conversation-panel .well {
  height: 100%;
}
#conversation-panel .conversation-recip {
  width: 25px;
  height: 25px;
}
#conversation-panel .btn-group {
  display: inline;
}
#conversation-panel .conv-recip-name {
  margin-left: 5px;
  vertical-align: middle;
}
#conversation-panel .pager {
  text-align: left;
  margin-top: 0px;
}
#conversation-panel .pager span {
  margin: 0px 5px 0px 5px;
}
#conversation-panel .pager li:nth-child(1) {
  margin-left: 20px;
}
#conversation-panel .pager .close {
  vertical-align: middle;
  float: none !important;
}
#conversation-panel .panel {
  height: 200px;
  margin-top: 20px;
  position: relative;
  overflow: scroll;
}
#conversation-panel .panel .panel-body {
  width: 100%;
  height: inherit;
}
#conversation-panel .panel .panel-body p {
  padding-bottom: 10px;
}
#btn-panel-wrapper {
  padding: 0px;
  margin: 0px;
}
