#bin-groups-panel {
  min-height: 307px;
  overflow: visible;
}
#bin-groups-panel td:nth-child(odd) {
  padding-right: 25px;
}
#bin-types-panel {
  overflow: visible;
}
#bin-types-panel .form-group {
  margin: 0px;
}
#bin-types-panel td:nth-child(3) {
  width: 80px;
}
#bin-types-panel td {
  text-align: center;
  padding: 0px 21px 15px 0px;
}
#bin-types-panel .dropdown-menu {
  min-width: 80px;
}
#bin-types-panel .square-dropdown {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 4px;
}
#bin-types-panel .occurance-options {
  text-align: left;
  width: 120px;
}
#bin-types-panel .new-bin-type-row > td {
  padding-top: 20px;
}
#bin-types-panel a:hover {
  height: 23px;
}
#bin-types-panel .red {
  background-color: red;
}
#bin-types-panel .black {
  background-color: black;
}
#bin-types-panel .green {
  background-color: green;
}
#bin-types-panel .pink {
  background-color: pink;
}
#bin-types-panel .brown {
  background-color: brown;
}
#bin-types-panel .input-bin-name {
  min-width: 140px;
}
#bin-types-panel .input-bin-date {
  min-width: 160px;
}
