.panel-heading {
  padding: 0px 0px 20px 0px;
}
.announce-date {
  padding-top: 10px;
  margin-bottom: 0px;
  font-size: 11px;
}
.announce-box {
  overflow: hidden;
  padding: 7px;
}
/* Prevents image floating outside well */
p {
  margin: 0;
}
#announcement-panel {
  height: 600px;
  overflow: hidden;
  margin-right: 40px;
}
#announcement-panel .glyphicon {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}
#announcement-panel .input-group {
  margin-bottom: 20px;
}
#announcement-panel .announce-picture {
  width: 50px;
  height: 50px;
  float: left;
}
#announcement-panel p {
  padding-left: 60px;
}
#activity-panel {
  height: 600px;
  overflow: hidden;
}
#activity-panel .glyphicon {
  font-size: 25px;
}
#activity-panel span {
  float: left;
}
#activity-panel p {
  padding-left: 35px;
  vertical-align: middle;
}
.fader-container {
  position: relative;
}
.div-fader {
  pointer-events: none;
  position: absolute;
  height: 600px;
  width: 100%;
  top: 0;
  box-shadow: 0 -230px 30px -200px #ffffff inset;
}
