<div class="page-header">
    <h2>Account Settings</h2>
</div>

<div class="row">
    <div id="leave-house-btn" class="col-xs-12">
        <button data-toggle="modal" data-target="#leave-house-modal" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span>
            <span>Leave House</span>
        </button>
    </div>
</div>

<div class="row settings-row-one">
    <div class="col-md-6 module-panel">
        <div class="well house-settings-panel">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <label>House Name:</label></td>
                        <td>
                            <input data-bind="value: houseName, valueUpdate: 'afterkeydown'" type="text" class="form-control" /></td>
                    </tr>

                    <tr>
                        <td>
                            <label>House Code:</label></td>
                        <td>
                            <input data-bind="value: houseCode, valueUpdate: 'afterkeydown'" type="text" class="form-control" /></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>
                            <button data-bind="click: saveHousePanelClicked, enable: hasHouseChanged" class="btn btn-success">
                                <span class="glyphicon glyphicon-floppy-disk"></span>Save
                            </button>
                            <button data-bind="click: undoHousePanelClicked, enable: hasHouseChanged" class="btn btn-primary">
                                <span class="glyphicon glyphicon-repeat rotate-90"></span>Undo
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-6 module-panel">
        <div class="well house-settings-panel">
            <form id="notification-row" class="form-inline" role="form">
                <label>Email Notifications:</label>
                <input id="email-notification-chkbox" type="checkbox" data-bind="checked: emailNotifications" />
            </form>

            <label>Display Picture:</label>

            <br />

            <img id="profile-pic-select" class="img-circle" data-bind="attr: { src: sessionUser().DisplayPictureFilePath }">

            <button data-toggle="modal" data-target="#fb-pic-modal" class="btn btn-primary">Facebook</button>
            <button data-toggle="modal" data-target="#file-pic-modal" class="btn btn-primary">File</button>
            <button data-toggle="modal" data-target="#url-pic-modal" class="btn btn-primary">URL</button>
        </div>
    </div>
</div>
<div class="row settings-row-two">
    <div id="info-panel" class="col-md-6 module-panel">
        <div class="well house-settings-panel">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <label>Full Name:</label></td>
                        <td>
                            <input data-bind="value: fullName, valueUpdate: 'afterkeydown'" type="text" class="form-control" /></td>
                    </tr>

                    <tr>
                        <td>
                            <label>Email:</label></td>
                        <td>
                            <input data-bind="value: email, valueUpdate: 'afterkeydown', enable: !isFacebookUser()" type="text" class="form-control" /></td>
                    </tr>

                    <tr>
                        <td>
                            <label>Password:</label></td>
                        <td>
                            <input data-bind="value: password1, valueUpdate: 'afterkeydown', enable: !isFacebookUser()" type="password" class="form-control" /></td>
                    </tr>

                    <tr>
                        <td>
                            <label>Retype Password:</label></td>
                        <td>
                            <input data-bind="value: password2, valueUpdate: 'afterkeydown', enable: !isFacebookUser()" type="password" class="form-control" /></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>
                            <button data-bind="click: saveUserInfoClicked, enable: hasUserInfoChanged" class="btn btn-success">
                                <span class="glyphicon glyphicon-floppy-disk"></span>
                                <span>Save</span>
                            </button>
                            <button data-bind="click: undoUserInfoClicked, enable: hasUserInfoChanged" class="btn btn-primary">
                                <span class="glyphicon glyphicon-repeat"></span>
                                <span>Undo</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-6 module-panel">
        <div class="well house-settings-panel">

            <h4 class="panel-header">Pending Requests</h4>

            <table class="tenants-table">
                <tbody data-bind="foreach: pendingRequests">
                    <tr>
                        <td>
                            <button data-bind="click: $root.acceptTenant" class="btn btn-xs btn-success">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button data-bind="click: $root.rejectTenant" class="btn btn-xs btn-danger">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                        <td>
                            <label data-bind="text: User().FullName()"></label>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h4 id="tenants-heading">Tenants</h4>

            <table class="tenants-table existing">
                <tbody data-bind="foreach: tenants">
                    <tr>
                        <td>
                            <button data-bind="click: $root.markDeleteTenant" data-toggle="modal" data-target="#delete-tenant-modal" class="btn btn-xs btn-danger">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                        <td>
                            <label data-bind="text: FullName"></label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Delete Tenant Modal -->
<div id="delete-tenant-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete Tenant Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this tenant?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button data-bind="click: deleteTenant" type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- Facebook Profile Picture Modal -->
<div id="fb-pic-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="H1">Profile Picture From Facebook</h4>
            </div>

            <div class="modal-body">
                <p>Enter your Facebook username or user ID.</p>

                <br />

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="inputFacebookPicture" class="col-sm-2 control-label">Username/ID</label>
                        <div class="col-sm-10">
                            <input data-bind="value: facebookUsername" type="text" class="form-control" id="inputFacebookPicture" placeholder="E.g. bill.stephens">
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button data-bind="click: $root.uploadFacebookPicture" type="button" class="btn btn-primary" data-dismiss="modal">Upload</button>
            </div>
        </div>
    </div>
</div>

<!-- File Profile Picture Modal -->
<div id="file-pic-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="H2">Profile Picture From File System </h4>
            </div>
            <div class="modal-body">

                <p>
                    Choose an image from your file system as your profile picture.
                </p>

                <br />

                <form id="imageUploadForm" role="form" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label for="imageFile">File Browser</label>
                        <input type="file" id="imageFile">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button data-bind="click: $root.uploadFilePicture" type="button" class="btn btn-primary" data-dismiss="modal">Upload</button>
            </div>
        </div>
    </div>
</div>

<!-- URL Profile Picture Modal -->
<div id="url-pic-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="H3">Profile Picture From URL</h4>
            </div>

            <div class="modal-body">
                <p>Enter the URL of your profile picture.</p>

                <br />

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="inputURLPicture" class="col-sm-1 control-label">URL</label>
                        <div class="col-sm-11">
                            <input data-bind="value: profilePictureUrl" type="text" class="form-control" id="inputURLPicture" placeholder="E.g. http://www.somewebsite/picture.jpg">
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button data-bind="click: $root.uploadUrlPicture" type="button" class="btn btn-primary" data-dismiss="modal">Upload</button>
            </div>
        </div>
    </div>
</div>

<!-- Leave House Modal -->
<div id="leave-house-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="H4">Leave House Confirmation</h4>
            </div>

            <div class="modal-body">
                <p>Are you sure you want to leave the house?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button data-bind="click: leaveHouseConfirmed" type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>
