#wish-list-table th:nth-last-child(1) {
  text-align: center;
}
#wish-list-table tbody .item-purchased {
  text-decoration: line-through;
  opacity: 0.3;
}
#wish-list-table tbody td {
  vertical-align: middle;
  padding: 5px 0px 5px 0px;
}
#wish-list-table tbody td:nth-child(1) {
  text-align: center;
}
#wish-list-table tbody td:nth-child(4) {
  text-align: center;
}
#wish-list-table .close {
  float: none !important;
}
#wish-list-panel .col-md-12 {
  padding-left: 0px;
}
