#invoice-settings-panel {
  min-width: 397px;
  overflow: visible;
}
#invoice-settings-panel table {
  width: 100%;
}
#invoice-settings-panel table td {
  padding: 5px 0px 5px 0px;
}
#invoice-settings-panel .invoice-value .form-control {
  width: 70px;
}
#invoice-settings-panel .invoice-value {
  width: 50px;
}
#invoice-settings-panel .del-invoice-tenant {
  float: right;
}
#invoice-settings-panel .date {
  width: 200px;
}
#invoice-settings-panel #invoice-name-row {
  padding-bottom: 20px;
}
#invoice-settings-panel #invoice-name-row h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
#invoice-settings-panel #invoice-btn-bar {
  margin-top: 10px;
}
#invoice-settings-panel #invoice-btn-bar .glyphicon-remove {
  padding-right: 4px;
}
#invoice-settings-panel #invoice-btn-bar .btn-success {
  margin: 10px 7px 10px 0px;
}
#invoice-settings-panel #invoice-btn-bar .btn-success .glyphicon {
  margin-right: 4px;
}
#invoice-settings-panel #total-label {
  margin-right: 20px;
}
#invoice-settings-panel .invoice-tenant-row .invoice-paid-cell {
  vertical-align: top;
}
#invoice-settings-panel .invoice-tenant-row td {
  padding-top: 0px;
  vertical-align: central;
}
#invoice-settings-panel .invoice-tenant-row .cell-add-btn {
  vertical-align: top;
  float: right;
}
#invoice-settings-panel .invoice-tenant-row .dropdown-button {
  width: 140px;
}
