.container {
  margin: 20px 0px 0px 240px;
}
.container .page-header {
  margin-bottom: 25px;
}
.container .module-spacer {
  margin: 0px;
}
.container .module-nav-panel {
  position: absolute;
  bottom: 10px;
}
.container .module-panel {
  overflow: hidden;
  margin-bottom: 40px;
}
.container .module-panel .panel-table {
  margin-top: 10px;
}
.container .module-panel .panel-table td {
  padding: 0px 40px 10px 0px;
}
.container .module-panel .panel-table .glyphicon {
  font-size: 15px;
}
.container .module-panel .panel-header {
  margin: 0px 0px 20px 0px;
}
.container .module-panel .btn-primary {
  margin: 10px 7px 10px 0px;
}
.container .module-panel .btn-primary .glyphicon {
  margin-right: 4px;
}
.container .module-panel .module-nav-panel {
  margin-top: 10px;
}
.container .module-panel .module-nav-panel .glyphicon {
  font-size: 15px;
}
.container .module-panel .module-nav-panel strong {
  padding: 0px 5px 0px 5px;
}
