#house-tenants-panel {
  text-align: center;
  margin-top: 50px;
}
#house-tenants-panel .panel {
  width: 180px;
  display: inline-block;
  margin: 0px 10px 20px 10px;
}
#house-tenants-panel .panel-heading {
  text-align: center;
  padding: 10px 0px 10px 0px !important;
}
#house-tenants-panel .panel-heading h3 {
  vertical-align: middle;
}
#house-tenants-panel .panel-heading .glyphicon {
  color: #333333;
  font-size: 20px;
  margin: 10px 0px 0px 0px;
  text-shadow: -1px 0px 9px #969696;
}
#house-tenants-panel .profile-pic {
  width: 150px;
  height: 150px;
}
