#add-bill-btn {
  margin-bottom: 20px;
}
#add-bill-btn .glyphicon {
  padding-right: 4px;
}
#add-bill-modal .form-group {
  width: 100%;
}
#add-bill-modal .dropdown-button {
  width: 90%;
}
#add-bill-modal input {
  width: 100%;
}
.bill-panel {
  height: 345px;
}
.bill-panel h3 {
  display: inline;
}
.bill-panel .bill-manager-pic {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.bill-panel .btn-delete {
  float: right;
}
.bill-panel .invoice-ctrls {
  margin: -15px 0px 0px 65px;
}
.bill-panel .panel-table td {
  padding: 10px 0px 5px 0px;
}
