#collection-date {
  font-size: 18px;
}
#bin-collectors {
  font-size: 12px;
  margin-top: 15px;
}
#bin-items {
  margin-top: 40px;
}
#bin-info {
  margin: 10px 0px 20px 0px;
}
#bin-info #bin-rota-icon {
  padding-top: 10px;
  font-size: 50px;
  float: left;
  color: black;
}
#bin-info #bin-title {
  font-size: 30px;
}
#bin-info p {
  padding-left: 70px;
}
.task-panel {
  min-height: 380px;
}
.task-panel h3 {
  margin-top: 0px;
}
